yacs
torch
torchaudio
torchvision
torchinfo
transformers
opencv-python
numpy
tqdm
wandb
tokenizers
nltk
matplotlib
ftfy
rouge-score
sentencepiece
sentence-transformers
nlpaug
sacremoses
colorlog
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
